{% extends 'layout.html' %}

{% block body %}
  <h1>About this App</h1>
  <p>
    This app was written in spring 2020 during the quarantine caused by COVID19. </br></br>
    Special Thanks to: youtube channels "Traversy Media" and "sentdex" for his very helpful tutorial videos & Christoph Schultheiss for reviewing the concept, a lot of direct support on Python and programming in general.</br></br>
    App written on ATOM, using Flask, Python, bootstrap, wtforms, highcharts</br></br>
    Matthias Ruge, San Quirico d'Orcia, June 2020
  </p>
</div>
{% endblock %}
